
/*Aquí se incluyen los estilos que no vienen por default en la plantilla*/

.separador-desc {
    width: 180px;
}
.separador {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 12px;
}
.child-menu{
    padding-left: 39px;
}
.mostrar, .ocultar{
    cursor: pointer;
    font-size: 1.5em;
    top: 3px;
    position: relative;
}
.mostrar:hover, .ocultar:hover{
    color: #ef4b0e;
}
.float_filter{
    margin-bottom: 24px;
    background-color: #ffffff;
    color: #353132;
    position: absolute;
    width: 720px;
    top: 42px;
    right: 10px;
    z-index: 1000;

}
.form-control-feedback {
    pointer-events: auto;
}
.encabezado_del_panel{
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
	color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
